@if(isLoading) {
<div class="grid place-content-center h-full w-full">
  <span class="loading loading-spinner loading-lg"></span>
</div>
}@else {
<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <p class="text-lg font-bold">{{ instance.name }}</p>
    <div class="flex items-center gap-2">
      <button class="btn btn-outline btn-sm">Visit</button>
      <button class="btn btn-outline btn-sm btn-primary">Edit</button>
      <button class="btn btn-outline btn-error btn-sm">Shut Down</button>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row items-start gap-6 border border-gray-300 rounded-md p-4"
  >
    <div class="h-[30vh] w-full md:w-[25vw] rounded-md bg-base-300">
      <app-web-preview [url]="instance.domain" [width]="1024" [height]="768" />
    </div>
    <div class="flex-1 flex flex-col gap-3">
      <div>
        <p class="text-gray-500 text-sm">Domain</p>
        <p class="text-sm">{{ instance.domain }}</p>
      </div>
      <div class="flex items-center gap-8">
        <div class="w-1/6">
          <p class="text-gray-500 text-sm">Status</p>
          <div class="badge badge-primary badge-outline capitalize text-sm">
            {{ instance.status }}
          </div>
        </div>
        <div class="w-1/6">
          <p class="text-gray-500 text-sm">Created</p>
          <p class="text-sm">{{ instance.createdAt | date : "longDate" }}</p>
        </div>
      </div>
      <div class="flex items-center gap-8">
        <div class="w-1/6">
          <p class="text-gray-500 text-sm">Location</p>
          <p class="text-sm">{{ instance.location }}</p>
        </div>
        <div class="w-1/6">
          <p class="text-gray-500 text-sm">Repo</p>
          <p class="text-sm">{{ instance.repository }}</p>
        </div>
      </div>
      <div>
        <p class="text-gray-500 text-sm">Description</p>
        <article class="w-full md:w-2/3 text-sm text-justify">
          {{ instance.description }}
        </article>
      </div>
    </div>
  </div>

  <!-- <div class="border border-gray-300 rounded-md min-h-[20vh] p-4">
    <p>the pricing</p>
  </div> -->

  <div class="flex flex-col md:flex-row items-center justify-between gap-8">
    <div class="flex-1 flex flex-col gap-4 w-full">
      <div class="flex items-center justify-between">
        <p class="text-md font-bold">Child Instances</p>
        <button class="btn btn-sm btn-outline btn-primary">
          Add Instances
        </button>
      </div>
      <div class="border border-gray-300 rounded-md h-full min-h-[40vh] py-2">
        <table class="table table-xs">
          <thead>
            <tr>
              <th class="w-[250px]">Name</th>
              <th class="text-center">Status</th>
              <th>Location</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sub of instance.subSystems" class="z-0">
              <th>
                <p>{{ sub.name }}</p>
                <a
                  [href]="sub.domain"
                  class="font-normal text-primary"
                  target="_blank"
                >
                  {{ sub.domain }}
                </a>
              </th>
              <td class="text-center">
                <div class="badge badge-primary badge-outline capitalize">
                  {{ instance.status }}
                </div>
              </td>
              <td>{{ sub.location }}</td>
              <td class="text-left capitalize">
                {{ sub.createdAt | date : "longDate" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex-1 flex flex-col gap-4">
      <div class="flex items-center justify-between">
        <p class="text-md font-bold">Features</p>
        <button class="btn btn-sm btn-outline btn-primary">Add Features</button>
      </div>
      <div class="border border-gray-300 rounded-md h-full min-h-[40vh] py-2">
        <table class="table table-xs">
          <thead>
            <tr>
              <th class="w-[150px]">Name</th>
              <th class="w-[250px]">Description</th>
              <th>Created At</th>
              <th class="text-center">Status</th>
              <th class="text-center">Connected Instances</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let feature of instance.features" class="z-0">
              <th>
                <p>{{ feature.name }}</p>
                <a
                  [href]="feature.domain"
                  class="font-normal text-primary"
                  target="_blank"
                >
                  {{ feature.domain }}
                </a>
              </th>
              <td class="text-left capitalize">
                {{ feature.createdAt | date : "longDate" }}
              </td>
              <td class="text-center">
                <div class="badge badge-primary badge-outline capitalize">
                  {{ instance.status }}
                </div>
              </td>
              <td class="text-center">
                <div class="badge badge-primary badge-outline capitalize">
                  {{ instance.status }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
}
